.about-us {
  padding: 0;
  padding-left: 50px;
  padding-right: 60px;
  padding-top: 33px;
  min-height: 308px;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 10;
}

.about-us::before {
  content: "";
  min-width: 292px;
  min-height: 352px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 340px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 10px;
}

.about-us::after {
  content: "";
  min-width: 132px;
  min-height: 132px;
  background-color: #141b3b;
  border-radius: 20px;
  position: absolute;
  z-index: -2;
  top: 0;
  left: -20px;
}

.about-us__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.about-us__description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.about-us__description--bold {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding: 0 40px;
    padding-top: 334px;
    padding-left: 75px;
  }

  .about-us::before {
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 376px;
    height: 548px;
    top: 341px;
  }

  .about-us::after {
    content: "";
    min-width: 721px;
    height: 213px;
    background-color: #141b3b;
    top: 292px;
    left: 40px;
  }

  .about-us__title {
    font-size: 45px;
  }

  .about-us__description {
    font-size: 28px;
    width: 298px;
  }
  .about-us__description--bold {
    font-size: 21px;
    width: 255px;
  }
}
