.add-plans {
  padding: 30px 25px;
  padding-bottom: 90px;
  border-radius: 30px;
  background-color: #d4d9eb;
  position: relative;
  z-index: 11;
  top: -25px;
}

.add-plans__title {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
}
