.companion-filter {
  padding: 0 25px;
  padding-top: 37px;
  margin: 0;
  position: relative;
  z-index: 8;
  top: -37px;
}
.companion-filter__title {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  color: #1d2e5b;
  font-size: 22.5px;
}
.companion-filter__wrapper {
  padding: 0 25px;
  padding-top: 26px;
  padding-bottom: 25px;
  border-radius: 20px;
  background-color: #ffd74b;
}
