.form-interest__name {
  text-transform: uppercase;
  padding: 13px 0;
  box-sizing: border-box;
  color: #1d2e5b;
  font-weight: 700;
  border-top: 1px solid #f3c72b;
  width: 220px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-interest__name:hover,
.form-interest__name:focus {
  color: rgba(#1d2e5b, 0.6);
}

.form-interest__name:active {
  color: rgba(#1d2e5b, 0.3);
}

.form-interest__name::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 8px;
  height: 4px;
  background-image: url("../img/svg/dropdown.svg");
}

.form-interest__name--open::after {
  transform: rotate(180deg);
}

.form-interest__button-show {
  text-transform: uppercase;
  margin-top: 22px;
  min-height: 40px;
  min-width: 230px;
  border-radius: 20px;
  background-color: #ffffff;
  justify-content: center;
}

.form-interest__button-show::after {
  display: none;
}

.form-interest__button-show:hover,
.form-interest__button-show:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.form-interest__button-show:active {
  background-color: #f3c72b;
  color: rgba(#161c35, 0.3);
}
