.htmlacademy__link {
  color: #444444;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 14px;
  border-top: 1px solid rgba(#000000, 0.05);
  width: 100%;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.htmlacademy__link:hover,
.htmlacademy__link:focus {
  outline: none;
  opacity: 0.6;
}

.htmlacademy__link:active {
  opacity: 0.3;
}

.htmlacademy__link::after {
  content: "";
  margin-left: auto;
  display: block;
  width: 27px;
  height: 34px;
  background-repeat: no-repeat;
  background-image: url("../img/svg/htmlacademy.svg");
}
