.intro {
  padding: 0 25px;
  padding-top: 55px;
  background-color: #161c35;
  background-image: url('../img/globe-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100% 440px;
  z-index: -1;
}

.intro__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  min-width: 234px;
  margin: 0;
  margin-bottom: 247px;
  padding: 0;
  text-align: center;
}

.intro__title::after {
  content: '';
  display: block;
  position: absolute;
  min-height: 255px;
  min-width: 192px;
  right: 24px;
  top: 127px;
  background-image: url('../img/traveller-illustration-mobile@1x.png');
  background-repeat: no-repeat;
}
