.list-countries {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.list-countries__item {
  margin-bottom: 11px;
}

.list-countries__item:last-child {
  margin-bottom: 0;
}

.list-countries__img {
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 0;
}

.list-countries__wrapper {
  margin-top: -18px;
  padding: 0 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 90px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.list-countries__flag-img {
  margin-top: -12px;
  margin-bottom: 16px;
}

.list-countries__statistic {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.list-countries__name {
  padding: 0;
  margin: 0;
}

.list-countries__slogan {
  opacity: 0.3;
  padding: 0;
  margin: 0;
}

.list-countries__number {
  opacity: 0.3;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.list-countries__number::before {
  content: "";
  margin-right: 9px;
  opacity: 0.5;
  display: inline-block;
  background-image: url("../img/svg/user.svg");
  background-repeat: no-repeat;
  min-width: 11px;
  min-height: 11px;
}

@media (min-width: $tablet-width) {
  .list-countries::before {
    content: "";
    width: 141px;
    height: 141px;
    border-radius: 20px;
    background-color: #e2e5f2;
    position: absolute;
    top: -39px;
    left: -35px;
  }

  .list-countries__item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: 140px;
  }

  .list-countries__img {
    width: 186px;
    height: 140px;
    border-radius: 0 20px 20px 0;
  }

  .list-countries__wrapper {
    padding: 0 30px;
    padding-top: 30px;
    margin-top: 0;
    width: 618px;
    height: 140px;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
  }

  .list-countries__flag-img {
    margin: 0;
    width: 70px;
    height: 48px;
    position: absolute;
    right: -36px;
    top: 16px;
  }

  .list-countries__name {
    font-size: 24px;
  }

  .list-countries__slogan {
    font-size: 20px;
  }

  .list-countries__number {
    font-size: 20px;
    position: absolute;
    bottom: 17px;
  }

  .list-countries__number::before {
    width: 20px;
    height: 20px;
    margin-right: 11px;
  }
}

@media (min-width: $desktop-width) {
  .list-countries {
    flex-grow: 1;
  }

  .list-countries::before {
    top: -72px;
    left: -71px;
  }

  .list-countries__item {
    width: 559px;
    height: 140px;
  }

  .list-countries__wrapper {
    padding-top: 23px;
  }

  .list-countries__flag-img {
    right: -35px;
    top: 23px;
  }
}
