.page-main__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  padding: 0 25px;
  padding-top: 59px;
  margin: 0;
  background-color: #161c35;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 10;
}

.page-main__title::after {
  content: "";
  display: block;
  position: relative;
  top: 5px;
  height: 8px;
  width: 170px;
  border-radius: 4px;
  background-color: #ff8d30;
}

.page-main__title--form::after {
  min-width: 214px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {

  }

  .page-main__title {
    top: -1px;
    padding: 0 74px;
    padding-top: 130px;
    padding-bottom: 57px;
    border-radius: 0 0 60px 60px;
    font-size: 60px;
  }

  .page-main__title::after {
    top: 61px;
    width: 289px;
  }
}
