.price {
  padding: 0 25px;
  padding-left: 50px;
  padding-top: 78px;
  padding-bottom: 38px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 6;
  top: -28px;
}

.price::before {
  content: " ";
  display: block;
  width: 99px;
  height: 99px;
  background-image: url("../img/rates@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 65px;
  right: 25px;
}

.price__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.price__list-price {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  list-style: none;
  counter-reset: num;
}

.price__item {
  color: #444444;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.price__item::after {
  content: counter(num) " ";
  counter-increment: num;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffa530;
  min-width: 34px;
  min-height: 34px;
  box-sizing: border-box;
  border-radius: 50%;
  padding-top: 5px;
  margin-top: 3px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__item:nth-child(2)::after {
  background-color: #ffbd30;
}

.price__item:last-child::after {
  background-color: #ffd74b;
}

.price__wrapper {
  min-width: 200px;
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(#000000, 0.05);
  display: flex;
  flex-direction: column;
}

.price__item:first-child .price__wrapper {
  border-top: 1px solid rgba(#000000, 0.05);
}

.price__link {
  color: #192144;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .price {
    padding: 0 40px;
    padding-top: 100px;
    padding-bottom: 85px;
    border-radius: 0 0 60px 60px;
  }

  .price::before {
    top: auto;
    right: 85px;
    bottom: 48px;
  }

  .price::after {
    content: "";
    width: 198px;
    height: 285px;
    border-radius: 20px;
    background-color: #e2e5f2;
    position: absolute;
    z-index: -3;
    top: 177px;
    right: 40px;
  }

  .price__title {
    font-size: 45px;
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
  }

  .price__list-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 57px;
  }

  .price__item {
    flex-direction: row-reverse;
    margin-top: -3px;
    width: 100%;
    justify-content: flex-end;
  }

  .price__wrapper {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
  }

  .price__cost {
    margin-left: auto;
    margin-right: 34px;
  }

  .price__item::after {
    font-size: 28px;
    width: 77px;
    height: 67px;
    margin-right: 23px;
    margin-left: 0;
  }

  .price__link {
    font-size: 20px;
    margin-left: 89px;
    position: relative;
  }

  .price__link::before {
    content: "";
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #e2e5f2;
    position: absolute;
    top: -26px;
    left: -89px;
    background-image: url("../img/svg/business.svg");
    background-size: 17px 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 0 131px;
    padding-top: 133px;
    padding-bottom: 186px;
  }

  .price::before {
    width: 198px;
    height: 198px;
    right: 134px;
    bottom: 266px;
  }

  .price::after {
    width: 444px;
    height: 300px;
    top: 262px;
    right: 246px;
  }

  .price__title {
    margin-bottom: 130px;
  }

  .price__wrapper {
    width: 72%;
  }

  .price__item::after {
    width: 67px;
    margin-right: 22px;
  }

  .price__cost {

  }

}
