.profile {
  padding: 0 25px;
  padding-top: 20px;
  margin-bottom: 33px;
}
.profile__wrapper-status {
  display: flex;
  margin-bottom: 20px;
}
.profile__img {
  border-radius: 50%;
  margin-left: auto;
}
