.quote {
  color: #ffffff;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  padding-left: 25px;
}
.quote__text {
  font-weight: 300;
  min-width: 148px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.quote__author {
  font-style: normal;
  font-weight: 700;
}
