.traveling-companions {
  padding: 0 25px;
  padding-top: 101px;
  padding-bottom: 30px;
  margin: 0;
  margin-top: -28px;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 7;
}

.traveling-companions::before {
  content: "";
  width: 143px;
  height: 143px;
  background-image: url("../img/persons/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
  top: 70px;
  right: 0;
}

.traveling-companions::after {
  content: "";
  width: 132px;
  height: 132px;
  background-color: #141b3b;
  border-radius: 20px;
  position: absolute;
  z-index: -2;
  top: 70px;
  left: -20px;
}

.traveling-companions__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  position: relative;
}

.traveling-companions__description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.traveling-companions__description--bold {
  font-weight: 700;
  margin-bottom: 60px;
}

.traveling-companions__button {
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .traveling-companions {
    padding: 0 75px;
    padding-top: 200px;
    margin-top: -60px;
    padding-bottom: 88px;
    border-radius: 0 0 60px 60px;
  }

  .traveling-companions::before {
    right: 0;
    top: 486px;
    left: 40px;
  }

  .traveling-companions::after {
    width: 213px;
    height: 213px;
    top: 140px;
    left: 40px;
  }

  .traveling-companions__title {
    font-size: 45px;
    margin-bottom: 54px;
    position: relative;
  }

  .traveling-companions__title::before {
    content: "";
    width: 285px;
    height: 285px;
    background-image: url("../img/persons/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
    top: -60px;
    right: 0;
  }

  .traveling-companions__description {
    font-size: 28px;
    line-height: 33px;
    width: 430px;
    margin-bottom: 39px;
  }

  .traveling-companions__description--bold {
    font-size: 21px;
    line-height: 25px;
    width: 258px;
    margin-bottom: 58px;
  }

  .traveling-companions__button {
    width: 549px;
    margin-top: 70px;
  }
}

@media (min-width: $desktop-width) {
  .traveling-companions {
    padding-left: 131px;
    padding-right: 60px;
    padding-top: 188px;
    padding-bottom: 104px;
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
  }

  .traveling-companions::before {
    top: 193px;
    left: 547px;
  }

  .traveling-companions::after {
    top: 128px;
    left: 60px;

  }

  .traveling-companions__title {
    margin-left: -2px
  }

  .traveling-companions__title::before {
    top: 257px;
    right: 85px;
  }

  .traveling-companions__button {
    width: 280px;
    position: absolute;
    bottom: 134px;
  }
}
